<div class="flex w-screen flex-wrap text-slate-800">
  <div class="flex w-full flex-col md:w-1/2">
    <div class="flex justify-center pt-12 md:justify-start md:pl-12">
      <a href="#" class="text-2xl font-bold text-blue-600"> LeadsBuffet . </a>
    </div>
    <div class="my-auto mx-auto flex flex-col justify-center px-6 pt-8 md:justify-start lg:w-[28rem]">
      <p class="text-center text-3xl font-bold md:leading-tight md:text-left md:text-5xl">
        Create a new password <br />
      </p>
      <p class="mt-6 text-center font-medium md:text-left">Please enter your new password below to secure your account and regain access to LeadsBuffet.
      </p>

      <form class="flex flex-col items-stretch pt-3 md:pt-8"
      #loginForm="ngForm"
      (ngSubmit)="onSubmit()"
      >
        <div class="flex flex-col pt-4 pb-4">
          <div class="relative flex overflow-hidden rounded-md border-2 transition focus-within:border-blue-600">
            <input 
            class="w-full flex-shrink appearance-none border-gray-300 bg-white py-2 px-4 text-base text-gray-700 placeholder-gray-400 focus:outline-none" 
            placeholder="New Password" 
            id="password"
            type="password"
            placeholder="New Password"
            required
            name="password"
            [minLength]="8"
            [(ngModel)]="password"
            />
          </div>
        </div>
        <div class="flex flex-col pt-4 pb-4">
          <div class="relative flex overflow-hidden rounded-md border-2 transition focus-within:border-blue-600">
            <input 
            class="w-full flex-shrink appearance-none border-gray-300 bg-white py-2 px-4 text-base text-gray-700 placeholder-gray-400 focus:outline-none" 
            id="confirmPassword"
            type="password"
            placeholder="Confirm Password"
            required
            name="confirmPassword"
            [minLength]="8"
            [(ngModel)]="confirmPassword"
            />
          </div>
        </div>
        <button 
        type="submit" 
        class="rounded-lg bg-blue-600 px-4 py-2 text-center text-base font-semibold text-white shadow-md outline-none ring-blue-500 ring-offset-2 transition hover:bg-blue-700 focus:ring-2 md:w-40"
    >
        Reset Password
    </button>
    
      </form>
     <div class="py-12">
      <a
      class=" mb-6 text-center text-sm font-medium text-gray-600 md:text-left"
      [routerLink]="['', 'register']">
      Don't have an account?
      </a>
      <a
      class="pl-14 mb-6 text-center text-sm font-medium text-gray-600 md:text-left"
      [routerLink]="['', 'login']">
      Log in
      </a>
     </div>
    </div>
  </div>
  <div class="relative hidden h-screen select-none bg-blue-600 bg-gradient-to-br md:block md:w-1/2">
    <div class="py-16 px-8 text-white xl:w-[40rem]">
      <span class="rounded-full bg-white px-3 py-1 font-medium text-blue-600">New Feature</span>
      <p class="my-6 text-3xl font-semibold leading-10">
        Time to secure your  
        <span class="abg-white whitespace-nowrap py-2 text-cyan-300">lead data</span>!
      </p>
      <p class="mb-6 text-xl">Reset your password to ensure uninterrupted access to LeadsBuffet. Maintain the flow of your lead generation activities with a secure and updated account. Need additional help? Request a call-back today, and our support team will assist you promptly.</p>
      <a href="#" class="font-semibold tracking-wide text-white underline underline-offset-4">Learn More</a>
</div>
